@import "tailwindcss";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-darkblue: #001D3D; 
  --color-lightblue: #003566; 
  --color-lighterblue: #335152; 
  --color-yellow: #FFC300;
  --color-lightyellow: #FFD60A;
  --color-verylightyellow: #FFEE9A;
  --color-blackbg: #000814;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.introtext {
  background: radial-gradient( #003566, #FFFFFF, #FFC300);
  background-clip: text;
  color: transparent;
  animation: colormove 10s linear infinite;
  background-size: 200% 200%;
}

@keyframes colormove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  } 
}



